<ul class="post-list">
  <% page.posts.each(function(post){ %>
    <li>
      <span class="date"><%= date(post.date, "YYYY-MM-DD") %></span>
      <% if (post.categories && post.categories.length > 0) { %>
        <span class="category-tag"><%= post.categories.data[0].name %></span>
      <% } %>
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </li>
  <% }) %>
</ul>

<% if (page.total > 1){ %>
  <nav class="pagination">
    <%- paginator({
      prev_text: '&laquo; Prev',
      next_text: 'Next &raquo;'
    }) %>
  </nav>
<% } %>